{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <label>Nom de famille</label>
        <input type="text" name="lastname">
        <button type="submit">Rechercher</button>
    </form>    
    <table border='1px'>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Nom complet</th>
            <th>Email</th>
            <th>Date de naissance</th>
        </tr>    
        {% for person in persons %}
            <tr>
                <td><a href="{{ path('app_person_detail', {id: person.id }) }}">{{person.id}}</a></td>
                <td>{{person.firstname}}</td>
                <td>{{person.lastname}}</td>
                <td>{{person.fullname}}</td>
                <td>{{person.email}}</td>
                <td>{{person.birthdate|date('d/m/Y')}}</td>
            </tr> 
        {% else %}    
            <tr>
                <td colspan="6">Aucun resultat</td>
            </tr>    
        {% endfor %}
    </table> 
    
{% endblock %}